
.text-bold {
    -fx-font: bold 1em sans-serif;
}

.tag {
    -fx-background-color: #DDD;
    -fx-background-radius: 4px;
    -fx-padding: 2px 4px;
}

.btn-compact {
    -fx-padding-left: 2px;
    -fx-padding-right: 2px;
}

.validation-error {
    -fx-border-color: #f00;
    -fx-border-radius: 4px;
}

.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.monthly-table .border-right {
    -fx-border-color: #D9DFE4;
    -fx-border-width: 0 1px 0 0;
}

.value-col.table-cell {
    /*-fx-font-family: 'Menlo', 'monospace';*/
    -fx-alignment: center-right;
}

.col-darker-border-top.table-cell {
    -fx-border-color: -color-base-6 transparent -color-base-2 transparent;
    -fx-border-width: 1 0 1 0;
}

.col-background-gray.table-cell {
    -fx-background-color: -color-base-0;
}

.col-bold-text.table-cell {
    -fx-font-weight: bold;
}

.progress-indicator-text {
    -fx-background-color: -color-base-0;
    -fx-padding: 3px 3px 3px 3px;
    -fx-background-radius: 3px;
}

.progress-indicator-text-small {
    -fx-background-color: -color-base-0;
    -fx-padding: 0px 3px 0px 3px;
    -fx-background-radius: 3px;
}

.budget-widget:danger .progress-bar {
    -color-progress-bar-fill: -color-danger-emphasis;
}

.chart-bar.bar-default {
    -fx-bar-fill: -color-accent-emphasis;
}