.DS_Store
target/
*.log
*.db
*.app
*.bkp

_output.csv

dependency-reduced-pom.xml
env.tex
BB-THIRD-PARTY.txt

# Maven Release-Plugin
release.properties
pom.xml.*

.idea/ClojureProjectResolveSettings.xml
.idea/sonarlint.xml
.idea/copilot.*
/BUILD