<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <!-- wird zurLaufzeit überschrieben -->
        <property name="hibernate.connection.url">jdbc:sqlite:./sqlite.db</property>
        <property name="hibernate.connection.username">bb</property>
        <property name="hibernate.connection.password" />
        <property name="hibernate.globally_quoted_identifiers">true</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="hibernate.connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <property name="hibernate.implicit_naming_strategy">
            org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl</property>

        <!-- Names the annotated entity class -->
        <mapping class="de.timkodiert.mokka.domain.model.FixedTurnover" />
        <mapping class="de.timkodiert.mokka.domain.model.PaymentInformation" />
        <mapping class="de.timkodiert.mokka.domain.model.Category" />
        <mapping class="de.timkodiert.mokka.domain.model.CategoryGroup"/>
        <mapping class="de.timkodiert.mokka.domain.model.UniqueTurnover" />
        <mapping class="de.timkodiert.mokka.domain.model.UniqueTurnoverInformation" />
        <mapping class="de.timkodiert.mokka.domain.model.Billing"/>
        <mapping class="de.timkodiert.mokka.domain.model.AccountTurnover"/>
        <mapping class="de.timkodiert.mokka.domain.model.ImportRule"/>

    </session-factory>

</hibernate-configuration>